* {
  text-align: center;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: rgb(253, 246, 246);
  font-family: "Source Sans Pro", sans-serif;
}

.heading {
  padding-top: 50px;
  padding-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
}

.myForm {
  margin-top: 50px;
}
.myForm input {
  margin-top: 2px;
  margin-left: 650px;
  margin-bottom: 2px;
  height: 35px;
  width: 250px;
  display: block;
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 2px;
  background-color: rgba(252, 252, 252, 0.2);
  color: white;
}



.myForm button {
  height: 45px;
  width: 257px;
  margin-top: 10px;
  margin-left: 37px;
  border-radius: 10px;
  background-color: rgb(224, 215, 206);
  border-color: rgb(224, 215, 206);
  color: red;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  align-items: center;
  padding-bottom: 8px;
}

.btn:hover{
  background-color: red;
  color: rgb(224, 215, 206);
}

.content{
  display: flex;
}

.leaders{
  margin-left: 475px;
  margin-right: 475px;
}

.leaders h1{
  font-size: 40px;
}

